@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans&family=Architects+Daughter&display=swap')

@tailwind base
@tailwind components
@tailwind utilities

@layer base
  *
    text-root box-border
  h1 
    @apply px-0 py-6 text-center text-h1
  h2
    @apply px-0 py-5 text-center font-fhand leading-14 font-normal text-h2
  h3
    @apply px-0 py-4 text-center text-h3
  h4
    @apply px-0 py-3 text-center text-h4
  h5, h6
    @apply px-0 py-2 text-center font-fsans text-h5
  p, blockquote, ol, ul
    @apply px-0 py-2 font-fsans text-general
  small
    @apply font-fsans text-sm
  p
    @apply px-0 py-6 leading-10
    word-spacing: .04rem
  a, span, cite
    font-size: inherit
    font-family: inherit
  blockquote
    @apply leading-9 italic
  li
    @apply px-0 py-1
  p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol, li, a, span
    @apply text-txt_main
  .smaller
    @apply text-reduce
  .larger
    @apply text-increase
  .txt--highlighted
    @apply text-txt_highlighted
  .txt--contrast
    @apply text-txt_contrast


@layer components
  .width-container
    @apply w-container_s md:w-container_md 2xl:w-container_2xl huge:w-container_huge my-0 mx-auto bg-dark 
  .list__item
    @apply flex flex-col md:flex-row flex-nowrap md:flex-wrap items-center md:items-start justify-start w-full md:w-80%
  .list__item-number
    @apply relative w-8 mx-8 my-6 text-txt_lightbluish translate-y-2 self-start md:self-auto
  .footer__socialIcon
    @apply p-0 my-0 mx-icons
  .carousel-inner::after
    @apply block clear-both
    content: ''
  .list::before
    @apply border-b border-solid border-txt_lightbluish
    width: 80%
    content: ''
  .list::after
    @apply border-t border-solid border-txt_lightbluish
    width: 80%
    content: ''
  .list__item-number::after
    @apply absolute -top-2 -left-5 p-6 border border-solid border-txt_lightbluish rounded-full
    content: ''
  .blockquote__text::before
    @apply absolute top-0 -left-4 bottom-12 z-2 h-0 border-4 border-solid border-dark
    width: calc(1rem + 20%)
    content: ''
  .card__content
    transform-style: preserve-3d
  .card__front
    backface-visibility: hidden
    transform: rotateY(0deg)
  .card__back
    backface-visibility: hidden
    transform: rotateY(180deg) translateY(calc(-100% - 1rem))
  .flipped
    transform: rotateY(180deg)
  .card__character
    @apply py-4 px-6 text-txt_black text-center bg-txt_highlighted text-card leading-12 font-semibold
  .card__description
    @apply my-4 mx-0 text-txt_lightbluish text-center
  .card__actor
    @apply py-4 px-6 text-txt_white text-center bg-txt_contrast text-card leading-12 font-semibold
  .card__img
    @apply object-cover object-center grayscale
    